################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eCommerceApp/bin
/eCommerceApp/obj
/eCommerceDB/bin
/eCommerceDB/obj
.vs
/eCommerce.Models/obj
/eCommerce.Models/bin
/eCommerceDB/Import Schema Logs
/eCommerceRepository/bin
/eCommerceRepository/obj
/eCommerceDB/eCommerce.DB.jfm
/eCommerceService/bin
/eCommerceService/obj
*.user
/eCommerceDB/eCommerce.DB.dbmdl
/eCommerce.Razor/bin/Debug/net8.0
/eCommerce.Razor/obj
/eCommerce.Razor/wwwroot
eCommerce.Razor/bin
eCommerceApp.Tests/bin
eCommerceApp.Tests/obj
eCommerceApp/Properties/PublishProfiles
