<p>get-customers works!</p>

<!-- <button (click)="insertCustomer()"> Insert Cust</button> -->

<!-- <button (click)="getCustomers()"> Get Customers</button> -->

<button (click)="updateCustomer()">Update Customer</button>

<table>
    <thead>
        <tr>
            <td>
                Customer Code
            </td>
            <td>
                Company Name
            </td>
        </tr>
    </thead>
    <tbody>
        
        @for(u of customers; track $index){
            <tr>
                
                <td>{{u.customerCode}}</td>
                <td>{{u.companyName}}</td>
            </tr>
        }

    </tbody>
</table>

<button (click)="deleteCustomer()">Delete Customer</button>

  