<br>

<button class="button-68" role="button" (click)="insertSupplier()">New Supplier</button>
<br>
<br>
@if(showGrid){
<table class="content-table">
    <thead>
        <tr>
            <td>
                CompanyName
            </td>
            <td>
                ContactName
            </td>
            <td>
                City
            </td>
        </tr>
    </thead>
    <tbody>
        
        @for(u of suppliers; track $index){
            <tr>
                
                <td>{{u.companyName}}</td>
                <td>{{u.contactName}}</td>
                <td>
                    <button  class="button-68" role="button" (click)="updateSupplier()"><fa-icon [icon]="faEdit"></fa-icon></button>
                    <button  class="button-68" role="button" (click)="deleteSupplier()"><fa-icon [icon]="faTrash"></fa-icon></button>
                </td>

            </tr>
        }

    </tbody>
</table>
}