<h4>Add Product (Model Driven)</h4>

<div class="row">
    <div class="col-lg-6">
        <form [formGroup]="frm" (ngSubmit)="saveProduct()">
            <div class="form-group">
                <label>ProductId</label>
                <input type="text" class="form-control" formControlName="productId">
            </div>
            <div class="form-group">
                <label>ProductCode</label>
                <input type="text" class="form-control" formControlName="productCode">
                <div *ngIf="frm.controls['productCode']?.errors">
                    <span class="text-danger">Product Code is required</span>
                </div>
            </div>
            <div class="form-group">
                <label>ProductName</label>
                <input type="text" class="form-control" formControlName="productName">
                <div *ngIf="frm.controls['productName']?.errors">
                    <span class="text-danger" *ngIf="frm.controls['productName']?.hasError('required')">Product Name is required</span>
                    <span class="text-danger" *ngIf="frm.controls['productName']?.hasError('pattern')">Product Name has invalid characters</span>
                    <!-- <span class="text-danger" *ngIf="frm.controls['productName']?.hasError('minlength')">Product Name has invalid characters</span> -->
                </div>
            </div>
            <div class="form-group">
                <label>ProductPrice</label>
                <input type="text" class="form-control" formControlName="price">
            </div>
            <input type="submit" value="Save Product" class="btn btn-primary"/>
            <input type="button" value="Disable Validation" class="btn btn-warning" (click)="disableValidation()"/>
        </form>
    </div>
</div>